@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    
}
/* carousel-item css Start*/

.carousel-item h2{
    font-size: 45px;
    font-weight: 600;
}
.carousel-caption{
    width: 60%;
    margin: 0 auto;
}
#feature_section h3{
    font-size: 38px;
    font-weight: 700;
}
#feature_section p{
    font-size: 16px;
    font-weight: 700;
    color:rgba(108, 108, 108, 1)
}
.card-body li{
      list-style-type: none;
}
.card-body li i{
    margin-right: 10px;
   background-color: rgba(82, 67, 194, 0.1) ;
   border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color:rgba(82, 67, 194, 1);
}
.card-body button{
    background: rgba(244, 150, 209, 0.2);
}
.card-title{
    font-size: 36px;
    font-weight: bold;
}
.card-subtitle{
    font-size: 25px;
    font-weight: bold;
}

#wedding_plus{
    border-radius: 20px;
    
}

#wedding_plus i{
    color: #fff;
}
#wedding_plus button{
    background: #fff;
}
/* carousel-item css end*/

